*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  font-family:"Poppins",sans-serif;
  position: fixed;
}
.navigation1{
  position: relative;
  width: 400px;
  height: 70px;
  display: flex;
  color: var(--theme-color);
  align-items: center;
  justify-content: center;
  background-color: var(--theme-bg-color);
  border-radius:10px;
  z-index: 100;
}
.navigation1 ul{
  position: relative;
  display: flex;
  width: 350px;
}
.navigation1 ul li{
  list-style:none;
  position: relative;
  width: 70px;
  height: 70px;
  z-index:1;
}
.navigation1 ul li a{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  width: 100%;
  text-align: center;
  font-weight:500;
  text-decoration:none;
}
.navigation1 ul li a .icon{
  position: relative;
  display: block;
  font-size: 1.5rem;
  line-height:75px;
  transition:0.5s;
  color:rgba(255,255,255,0.5)
}
.navigation1 ul li:hover a .icon{
  color:rgba(255,255,255,1)
}
.navigation1 ul li.active a .icon{
  transform:translatey(-8px);
  color:#29fd53;
}
.navigation1 ul li a .text{
  position: absolute;
  opacity:0;
  font-weight:600;
  font-size:0.5em;
  color:#222327;
/*   color:#fff; */
  transition:0.5s;
  letter-spacing:0.05em;
  text-transform:uppercase;
  transform:translatey(0px);
}
.navigation1 ul li.active a .text{
  opacity:1;
  transform:translatey(13px);
}
.indicator{
  position: absolute;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:0.5s;
}
.indicator::before{
  content:"";
  position: absolute;
  bottom:13px;
  width: 80%;
  height: 14px;
  background:#29fd53;
  border-radius:10px;
}
.indicator::after{
  content:'';
  position: absolute;
  top: -3px;
  width:7.5px;
  height: 7.5px;
  border-radius:50%;
  background-color:#333;
  box-shadow:0 0 0 2px #29fd53,
    50px 50px  #29fd53,
    40px 0  #29fd53,
    0 40px  #29fd53;
  transform:rotate(45deg);
  -webkit-animation:amimate 2s ease-in-out infinite;
          animation:amimate 2s ease-in-out infinite;
}
@-webkit-keyframes amimate{
  0%,100%{
    transform:rotate(35deg);
  }
  50%{
    transform:rotate(55deg);
  }
}
@keyframes amimate{
  0%,100%{
    transform:rotate(35deg);
  }
  50%{
    transform:rotate(55deg);
  }
}
.navigation1 ul li:nth-child(2).active ~ .indicator{
  transform:translatex(calc(70px * 1))
}
.navigation1 ul li:nth-child(3).active ~ .indicator{
  transform:translatex(calc(70px * 2))
}
.navigation1 ul li:nth-child(4).active ~ .indicator{
  transform:translatex(calc(70px * 3))
}
.navigation1 ul li:nth-child(5).active ~ .indicator{
  transform:translatex(calc(70px * 4))
}